@import 'ember-paper';

.md-whiteframe-z2 {
  background-color: #31263E;
  height: 100vh;
}

.md-sidenav-header {
  background-color: #221E22;
  color: #FDFFFC;
}

.md-button {
  background-color: #44355B;
  height: 55px;
  margin: 0px;
  margin-top: 5px;
  color: #E8E9F3;
  width: 100%;
  padding: 0px;
}

.inner-button {
  float: left;
  margin-left: 10px;
}

.inner-button md-icon.md-default-theme, md-icon {
  margin-right: 15px;
}

.content-container {
  width: 100%;
  background-color: #EDE0FF;
}

#inner-content-container {
  padding: 15px;
  margin: auto;
  color: #221E22;
}

#comments-container {
  display: block;
  width: 274px;
  background-color: #31263E;
  height: 100%;
  float: right;
}

.comment {
  width: 232px;
  margin: 14px;
  background-color: #44355B;
  color: #E8E9F3;
  min-height: 75px;
  padding: 9px;
  word-wrap: break-word;
  display: block;
  border-radius: 12px;
}

.md-sidenav-button {
  background-color: #44355B;
  height: 25px;
  margin-top: 5px;
}

.md-sidenav-button a {
  text-decoration: none;
  color: #E8E9F3;
  margin-left: 5px;
  width: 100%;
}

md-content.md-default-theme, md-content {
  color: #E8E9F3;
}

#header-bar {
  width: 100%;
  height: 54px;
  background-color: #593F62;
  color: #E8E9F3;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

.md-comments-nav {
  float: right;
}