@import 'ember-paper';

body {
    background-color: #221E22;
}

.md-button.md-default-theme.md-primary.md-raised {
    background-color: #44355B;
}

.md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover {
    background-color: #BDD9BF;
}


.md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
    background-color: #FF6F38;
}

.md-button.md-default-theme.md-accent, .md-button.md-accent {
    color: #E8E9F3;
}

.md-whiteframe-z2 {
  background-color: #31263E;
  height: 100vh;
}

.md-sidenav-header {
  background-color: #221E22;
  color: #FDFFFC;
}

.md-button {
  background-color: #44355B;
  height: 55px;
  margin: 0px;
  margin-top: 5px;
  color: #E8E9F3;
  width: 100%;
  padding: 0px;
}

.inner-button {
  float: left;
  margin-left: 10px;
}

.inner-button md-icon.md-default-theme, md-icon {
  margin-right: 15px;
}

.data-table {
  width: 70%;
  text-align: left;
}

.data-table td {
  height: 40px;
}

.data-table thead tr {
  background-color: #F06449;
  color: #FDFFFC;
  height: 42px;
}

.data-table tbody tr:nth-child(even) {
  background-color: #D3BCCC;
}

.data-table tbody tr:nth-child(odd) {
}

.data-table tbody tr:hover {
  background-color: #BDD9BF;
}

.content-container {
  width: 100%;
  background-color: #EDE0FF;
}

#inner-content-container {
  padding: 15px;
  margin: auto;
  color: #221E22;
}

#comments-container {
  display: block;
  width: 274px;
  background-color: #31263E;
  height: 100%;
  float: right;
}

.comment {
  width: 232px;
  margin: 14px;
  background-color: #44355B;
  color: #E8E9F3;
  min-height: 75px;
  padding: 9px;
  word-wrap: break-word;
  display: block;
  border-radius: 12px;
}

.md-sidenav-button {
  background-color: #44355B;
  height: 25px;
  margin-top: 5px;
}

.md-sidenav-button a {
  text-decoration: none;
  color: #E8E9F3;
  margin-left: 5px;
  width: 100%;
}

md-content.md-default-theme, md-content {
  color: #E8E9F3;
}

#header-bar {
  width: 100%;
  height: 54px;
  background-color: #593F62;
  color: #E8E9F3;
  margin: 0;
  padding: 0;
  padding-top: 15px;
}

#header-bar h1 {
  display: inline;
  margin-left: 20px;
}

.md-comments-nav {
  float: right;
}